*, *::after, *::before
{
    box-sizing: border-box;
}

:root
{
    --animation-timing: 400ms ease-in-out;
    --bar-height: 8px;
    --bar-width: 60px;
    --hamburger-backgroud-color: rgb(60, 196, 146);
    --hamburger-forground-color: rgb(254, 254, 254);
    --hamburger-gap: 6px;
    --hamburger-margin: 5px;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    --sidebar-width: 12rem;
}

body
{
    background: gray;
    margin: 0;
}

.hamburger-menu
{
    --x-width: calc(var(--hamburger-height) * 1.4);

    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    left: var(--hamburger-margin);
    position: absolute;
    top: var(--hamburger-margin);
    width: max-content;
    transform-origin: left;
    z-index: 2;
}

.hamburger-menu::after,
.hamburger-menu::before,
.hamburger-menu input
{
    background: var(--hamburger-backgroud-color);
    border-radius: 9999px;
    content: "";
    height: var(--bar-height);
    width: var(--bar-width);
    transform-origin: left center;
    transition: all var(--animation-timing);
}

.hamburger-menu input
{
    appearance: none;
    margin: 0;
    outline: none;
    padding: 0;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before
{
    background-color: var(--hamburger-forground-color);
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) /-2);
}

.hamburger-menu:has(input:checked)::after
{  
    background-color: var(--hamburger-forground-color);
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) /2); 
}

.hamburger-menu input:checked
{
    opacity: 0;
    width: 0;
}

.hamburger-menu:has(input:checked) + .sidebar
{
    transform: translateX(0);
}

.sidebar
{
    background: var(--hamburger-backgroud-color);
    color: var(--hamburger-forground-color);
    min-height: 100vh;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    position: fixed;
    transform: translateX(-100%);
    transition: all var(--animation-timing);
    width: var(--sidebar-width);
}